SUPABASE_URL = https://psjmujlwhqpnihvszgqr.supabase.co
SUPABASE_ANON_KEY = eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6InBzam11amx3aHFwbmlodnN6Z3FyIiwicm9sZSI6ImFub24iLCJpYXQiOjE3Njg4OTA4MDQsImV4cCI6MjA4NDQ2NjgwNH0.BK5hVRvmy5pXH-rxOQhBEcPtf-FlcsN_S4EyEWSChC0
WEATHER_API_KEY = 387eef6543d04b8fbd162743262101
